{% extends 'base.html' %}
{% load static %}
{% block title %} Home{% endblock %}
{% block content %}
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{% static 'img/image1.jpg' %}" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-7">
                                <h1 class="display-2 mb-5 animated slideInDown">Your Reliable Pharmacy Store</h1>
                                <a href="{% url 'product-page' %}" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Store</a>
                                <a href="{% url 'doctor-page' %}" class="btn btn-secondary rounded-pill py-sm-3 px-sm-5 ms-3">Doctor</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <!-- Carousel End -->

    <!-- Feature Start -->
    <div class="container-fluid bg-light bg-icon my-5 py-6" style="background-image: url('{% static 'img/image.jpg' %}'); background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Doctors</h1>
                <p>Expert Care, Personalized Approach: Our Trusted Team of Doctors</p>
            </div>
            <div class="row g-4">
                {% for doctor in doctor %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{{ doctor.image.url }}" alt="">
                        <h4 class="mb-3">{{ doctor.name }}</h4>
                        <p class="mb-4">{{ doctor.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>                        
            
        </div>
    </div>
    <!-- Feature End -->


    <!-- Product Start -->
    <div class="container-xxl py-5" id="products">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <h1 class="display-5 mb-3">Our Store</h1>
                        <p>Building a Healthier Community: Your Reliable Pharmacy Store</p>
                    </div>
                </div>
                <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" href="#tab-1">Medicine</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        {% for product in product %}
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden">
                                    <img class="img-fluid w-100" src="{{ product.image.url }}" alt="">
                                    <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Drug</div>
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2" href="">{{  product.name }}</a>
                                    <span class="text-primary me-1">MK {{ product.new_price}} </span>
                                    <span class="text-body text-decoration-line-through">MK {{ product.old_price}}</span>
                                </div>
                            </div>
                          
                        </div>
                        {% endfor %}
                        <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'product-page' %}">Visit The Store</a>
                        </div>
                    </div>
                </div>

    <!-- Product End -->

    
{% endblock %}